<h1>Projects</h1>

<ul>

  <% @projects.each do |project| %>
    <li>
<<<<<<< HEAD
      タイトル：<%= link_to project.title, project_path(project.id) %>
      <%= link_to("[edit]", edit_project_path(project.id) ) %>
      <%= link_to("[delete]", project_path(project.id) , method: :delete, data: {confirm: "are you sure?"}) %>
    </li>
  <% end %>

  <%= link_to "ADD NEW", new_project_path %>
=======
      タイトル：<%= link_to project.title, project_path(project.id) %> 
      <span><%= link_to("edit", edit_project_path(project.id)) %></span>
      <span><%= link_to("delete", project_path(project.id)  , :method => :delete) %></span>
    </li>
  <% end %>

  <%= link_to("NEW PROJECT", new_project_path) %>

  <%= link_to("NEW TASK", new_task_path) %>
>>>>>>> fcd4a41bf851c77425e3cca268b1a2577f7bb543

  <div style="font-size:20px;">
    <%= react_component 'Widgets' %>
  </div>
</ul>


<div class="row">
  <div class="col-xs-3">
    <%= label_tag :name, "名前" %>
    <%= text_field_tag :name, "", "ng-model" => "name",  :class => "form-control" %>
  </div>
</div>

<p>こんにちは、「{{name}}」さん。</p>